@model IEnumerable<Ecommerce.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Orders</h1>

<table id="orders" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function(){
            var table = $("#orders").DataTable({
                ajax:{    
                    url:"/api/Order/",
                    dataSrc: ""
                 },
                 columns:[
                     {
                         data: "bill"
                     },
                     {
                         data: "status"
                     },
                     {
                         data: "paymentStatus"
                     },
                     {
                         data: "user.name"
                     },
                     {
                         data : "id",
                         render: function(data){
                             return "<a href='/Order/Details/"+data+"'>Details</a>";
                         }
                     }
                 ]
            })
        })
    </script>
}
