@model IEnumerable<Ecommerce.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table id="employees" class='table table-bordered table-responsive'>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateJoined)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function(){
            var table = $('#employees').DataTable({
                ajax:{
                    url:"/api/Employee/",
                    dataSrc: ""
                },
                columns:[
                    {
                    data:"name"
                    },
                    {
                    data:"address"
                    },
                    {
                    data:"dateJoined"
                    },
                    {
                        data:"birthDate"
                    },
                    {
                    data: "id",
                    render: function(data){
                        return "<a href='/Employee/Details/"+data+"'>Details</a> | <a href='/Employee/Edit/"+data+"'>Edit</a> | <a class='js-delete' data-employee-id="+data+">Delete</a>";
                    }
                    }
                ]
            });
            $("#employees").on("click",".js-delete", function(){
                var button = $(this);
                if(confirm("Are you Sure?")){
                    $.ajax({
                        url:"/api/Employee/"+button.attr("data-employee-id"),
                        method: "DELETE",
                        success : function(){
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });
            
        });
    </script>
}
